*.md
*.json
*.html
*.xml
*.txt
*.yaml
*.yml

*.log
*.lock

package.json
package-lock.json
pnpm-lock.yaml
yarn.lock

.DS_Store
Thumbs.db

.idea/
.vscode/
.vscode-test/
.vscode-server/
.vscode-server-insiders/
.vscode-remote/
.history/
.history/*
.sass-cache/

dist/
build/
output/
coverage/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*